.banner{
  @extend .container;
  padding: 64px 0;
  background-image: image_url('skyscraper.png');
  background-position: left center;
  background-repeat: repeat-x;
  background-size: 56rem;
  background-attachment: fixed;
  @include user-select(none);
  >img{
    display: block;
    margin: auto;
  }
}
