.navbar-brand{
  @include display(flex !important);
  @include align-items(center);
  padding: 0px !important;
}

.bc-affix{
  top:20px;
  &.affix{
    width: 185px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
}


.bc-nav{
  @extend .list-unstyled;
  li{
    a { color: $text-color; }
    h5{
      color: transparentize($text-color, 0.3);
      padding: 0px 15px;
      text-transform: uppercase;
      font-size: 80%;
    }
    &.active > a{
      color: #fff;
      background-color: darken(#3e444c, 5);
      // &::before{
      //   font-family: FontAwesome;
      //   content: "\f08d";
      //   // content: "\f10c";
      //   color:transparentize(#f39c12, 0.3);
      //   margin-left: -10px;
      //   margin-right: 5px;
      // }
    }
  }
}
