<!DOCTYPE html>
<html ng-app="bezerracostaApp">

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include banner.html %}

    {% include carousel.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}
    {% javascript jquery %}

    {% bundle %}
      - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js
      - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-animate.min.js
      - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-resource.min.js
      - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-sanitize.min.js
    {% endbundle %}

    {% javascript app %}
  </body>

</html>
